.page-container {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.image-divs-container {
    display: flex;
    flex-direction: row;
}

.triangle-display {
    background-color: black;
    height: 300px;
    width: 300px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.triangle-display-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.triangle-display-item {
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}    

.triangle-text {
    padding-left: 19px;
    padding-top: 13px;
    font-size: 20px;
}

.sec-triangle-text {
    padding-left: 0px;
    padding-top: 6px;
    font-size: 15px;
    text-align: center;
}

.text-divs-container {
    flex: 1;
}

.input-fields {
    border-width: 1px;
    border-color: black;
    border-style: solid;

    padding: 5px;
}

.selection-field {
    border-width: 1px;
    border-color: black;
    border-style: solid;

    padding: 5px;
}

.info-field {
    border-width: 1px;
    border-color: black;
    border-style: solid;

    padding: 5px;
}